bash            # Tool
xmlstarlet      # Tool
httpx           # Tool
goverview       # Tool
whatweb         # Tool
nuclei          # Tool
nikto           # Tool
ffuf            # Tool
byp4xx          # Tool
subjs           # Tool
katana          # Tool